<link rel="stylesheet" type="text/css" href="/markitup/skins/simple/style.css" />
<link rel="stylesheet" type="text/css" href="/markitup/sets/markdown/style.css" />
<script type="text/javascript" src="/markitup/jquery.markitup.js"></script>
<script type="text/javascript" src="/markitup/sets/markdown/set.js"></script>

<script>
$(document).ready(function() {
	$('#post-editor textarea').markItUp(mySettings);
});
function vote(type, id, is_vote_up) {
	if(type == 'q') {
		$.post('/questions/' + id + '/vote', {is_vote_up: is_vote_up}, function(data){
			if(data.indexOf('success:') != -1) {
				$('#question_' + id + '_votes').html(data.replace('success:',''));
			} else {
				alert(data.replace('failed:',''));
			}
		});
	} else if(type == 'a') {
		$.post('/answers/' + id + '/vote', {is_vote_up: is_vote_up}, function(data){
			if(data.indexOf('success:') != -1) {
				$('#answer_' + id + '_votes').html(data.replace('success:',''));
			} else {
				alert(data.replace('failed:',''));
			}
		});
	}
}
function best_answer(aid, is_best_answer) {
	if(is_best_answer == '1') {
		$.post('/answers/' + aid + '/best_answer', {is_best_answer: is_best_answer}, function(data) {
			if(data == 'success') {
				$('#answers .vote-accepted-on').each(function() {
					$(this).prev().show();
					$(this).hide();
				});
				$('#answer_accept_' + aid).hide();
				$('#answer_unaccept_' + aid).show();
			} else {
				alert('咦，出错了？请稍后重试。');
			}
		});
	} else {
		$.post('/answers/' + aid + '/best_answer', {is_best_answer: is_best_answer}, function(data) {
			if(data == 'success') {
				$('#answer_accept_' + aid).show();
				$('#answer_unaccept_' + aid).hide();
			} else {
				alert('咦，出错了？请稍后重试。');
			}
		});
	}
}
</script>

<div id="question-header">
	<h1>
		<a href="/questions/<%=@question.id%>" class="question-hyperlink"><%=@question.title%></a>
	</h1>
</div>

<div id="mainbar">

	<div id="question">
		<table>
			<tr>
				<td class="votecell">
					<div class="vote">
						<a title="顶" class="vote-up-off" onclick="vote('q', '<%=@question.id%>', '1')">up vote</a>
						<span class="vote-count-post" id="question_<%=@question.id%>_votes"><%=@question.votes_count%></span>
						<a title="踩" class="vote-down-off" onclick="vote('q', '<%=@question.id%>', '0')">down vote</a>
					</div>
				</td>
				<td class="postcell">
					<div>
						<div class="post-text">
							<%= raw blacklist RDiscount.new(@question.content).to_html %>
						</div>
						<div class="post-taglist">
							<% @question.tags.each do |t| %>
							<a rel="tag" title="查看含有标签 '<%=t['name']%>' 的问题" class="post-tag" href="/questions/tagged/<%=u t['name']%>"><%=t['name']%></a> 
							<% end %>
						</div>
						<table class="fw">
							<tr>
								<td class="vt">
									<div class="post-menu">
										<% if login? && current_user.id == @question.user_id %>
										<%= link_to '修改', edit_question_path(@question), :title=>"修改或补充此问题" %>
										<% end %>
									</div>
								</td>
								<td class="post-signature owner">
									<div class="user-info">
										<div class="user-action-time">
											于 <span class="relativetime" title="<%= s @question.created_at%>"><%=time_ago_in_words(@question.created_at)%></span>
										</div>
										<div class="user-gravatar32">
											<a href="/users/<%=@question.user.id%>">
												<img width="32" height="32" alt="" src="<%=@question.user.avatar_path || '/images/avatar.jpg'%>">
											</a>
										</div>
										<div class="user-details">
											<a href="/users/<%=@question.user.id%>"><%=@question.user.display_name%></a><br>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</div>
				</td>
			</tr>
		</table>
	</div>

	<div id="answers">
		<a name="tab-top"></a>
		<div id="answers-header">
			<div class="subheader answers-subheader">
				<h2><%=@question.answers.size%> 条回答</h2>
			</div>
		</div>
		
		<!-- show best answer on the top -->
		<% if @question.has_best_answer?
			a = @question.best_answer %>
		<a name="<%=a.id%>"></a>
		<div class="answer">
			<table>
				<tr>
					<td class="votecell">
						<div class="vote">
							<a class="vote-up-off" title="顶" onclick="vote('a', '<%=a.id%>', '1')">up vote</a>
							<span class="vote-count-post" id="answer_<%=a.id%>_votes"><%=a.votes_count%></span>
							<a class="vote-down-off" title="踩" onclick="vote('a', '<%=a.id%>', '0')">down vote</a>
							<% if login? && current_user.id == @question.user_id %>
								<span id="answer_accept_<%=a.id%>" class="vote-accepted-off" style="display:none" title="点此设置为最佳答案" onclick="best_answer('<%=a.id%>', '1')">accept</span>
								<span id="answer_unaccept_<%=a.id%>" class="vote-accepted-on" title="点此取消最佳答案" onclick="best_answer('<%=a.id%>', '0')">accepted</span>
							<% else %>
								<span id="answer_unaccept_<%=a.id%>" class="vote-accepted-on" style="cursor: text" title="最佳答案">accepted</span>
							<% end %>
						</div>
					</td>
					<td>
						<div class="post-text">
							<%= raw blacklist RDiscount.new(a.content).to_html %>
						</div>
						<table class="fw">
							<tr>
								<td class="vt">
									<div class="post-menu">
										<a title="评论此答案" href="/comments/new?answer_id=<%=a.id%>">评论</a>
										<% if login? && current_user.id == a.user_id %>
										<span style="color:#888888"> | </span>
										<a title="修改或补充此答案" href="/answers/<%=a.id%>/edit">修改</a>
										<% end %>
									</div>
								</td>
								<td align="right" class="post-signature">
									<div class="user-info">
										<div class="user-action-time">
											于 <span class="relativetime" title="<%= s a.created_at%>"><%=time_ago_in_words(a.created_at)%></span>
										</div>
										<div class="user-gravatar32">
											<a href="/users/<%=a.user.id%>">
												<img width="32" height="32" alt="" src="<%=a.user.avatar_path || '/images/avatar.jpg'%>">
											</a>
										</div>
										<div class="user-details">
											<a href="/users/<%=a.user.id%>"><%=a.user.display_name%></a><br>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- comments -->
				<tr>
					<td class="votecell"></td>
					<td>
						<% a.comments.each do |c| %>
						<a name="<%=c.id%>"></a>
					    <div class="comments">
					        <table>
							    <tr class="comment">
							        <td class="comment-actions"></td>
							        <td class="comment-text">
							        	<div>
							        		<span class="comment-copy">
							        			<%= c.content %>
							        		</span>
							        		 – <a class="comment-user" href="/users/<%=c.user.id%>"><%=c.user.display_name%></a>
							        		<span class="comment-date">
							        			<span title="<%= s c.created_at%>"><%=time_ago_in_words(c.created_at)%></span>
							        		</span>
							        	</div>
							        </td>
							    </tr>
					        </table>
					    </div>
					    <% end %>
					</td>
				</tr>
			</table>
		</div>
		<% end %>
		
		<!-- show other answers below -->
		<% @question.answers.sort(:created_at).reverse.each do |a| %>
		<% 	if @question.best_answer_id != a.id %>
		<a name="<%=a.id%>"></a>
		<div class="answer">
			<table>
				<tr>
					<td class="votecell">
						<div class="vote">
							<a class="vote-up-off" title="顶" onclick="vote('a', '<%=a.id%>', '1')">up vote</a>
							<span class="vote-count-post" id="answer_<%=a.id%>_votes"><%=a.votes_count%></span>
							<a class="vote-down-off" title="踩" onclick="vote('a', '<%=a.id%>', '0')">down vote</a>
							<% if login? && current_user.id == @question.user_id %>
								<span id="answer_accept_<%=a.id%>" class="vote-accepted-off" title="点此设置为最佳答案" onclick="best_answer('<%=a.id%>', '1')">accept</span>
								<span id="answer_unaccept_<%=a.id%>" class="vote-accepted-on" style="display:none" title="点此取消最佳答案" onclick="best_answer('<%=a.id%>', '0')">accepted</span>
							<% end %>
						</div>
					</td>
					<td>
						<div class="post-text">
							<%= raw blacklist RDiscount.new(a.content).to_html %>
						</div>
						<table class="fw">
							<tr>
								<td class="vt">
									<div class="post-menu">
										<a title="评论此答案" href="/comments/new?answer_id=<%=a.id%>">评论</a>
										<% if login? && current_user.id == a.user_id %>
										<span style="color:#888888"> | </span>
										<a title="修改或补充此答案" href="/answers/<%=a.id%>/edit">修改</a>
										<% end %>
									</div>
								</td>
								<td align="right" class="post-signature">
									<div class="user-info">
										<div class="user-action-time">
											于 <span class="relativetime" title="<%= s a.created_at%>"><%=time_ago_in_words(a.created_at)%></span>
										</div>
										<div class="user-gravatar32">
											<a href="/users/<%=a.user.id%>">
												<img width="32" height="32" alt="" src="<%=a.user.avatar_path || '/images/avatar.jpg'%>">
											</a>
										</div>
										<div class="user-details">
											<a href="/users/<%=a.user.id%>"><%=a.user.display_name%></a><br>
										</div>
									</div>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<!-- comments -->
				<tr>
					<td class="votecell"></td>
					<td>
						<% a.comments.each do |c| %>
						<a name="<%=c.id%>"></a>
					    <div class="comments">
					        <table>
							    <tr class="comment">
							        <td class="comment-actions"></td>
							        <td class="comment-text">
							        	<div>
							        		<span class="comment-copy">
							        			<%= c.content %>
							        		</span>
							        		 – <a class="comment-user" href="/users/<%=c.user.id%>"><%=c.user.display_name%></a>
							        		<span class="comment-date">
							        			<span title="<%= s c.created_at%>"><%=time_ago_in_words(c.created_at)%></span>
							        		</span>
							        	</div>
							        </td>
							    </tr>
					        </table>
					    </div>
					    <% end %>
					</td>
				</tr>
			</table>
		</div>
		<%	end %>
		<% end %>
		
		<%= form_for(@answer) do |f| %>
		<h2 class="space">我来回答</h2>
		<div id="post-editor">
			<div id="wmd-container">
				<input type="hidden" name="answer[question_id]" value="<%=@question.id%>" />
				<textarea class="processed markItUpEditor" cols="92" id="wmd-input" name="answer[content]" rows="15" tabindex="101"><%= flash[:_content] ? flash[:_content] : ''%></textarea>
			</div>
		</div>
		<% if !login? %>
		<div class="form-item">
			<table>
				<tr>
					<td class="vm open-id-login">
						<a href="/login?returnurl=%2fquestions%2f<%=@question.id%>" style="font-size: 200%; margin-left: 30px;" id="login-link">登录</a>
					</td>
					<td class="orcell">
						<div class="orword">or</div>
						<div class="orline"></div>
					</td>
					<td class="vm">
						<div>
							<label for="username">用户名</label>
							<input type="text" tabindex="105" value="<%= flash[:_username] ? flash[:_username] : ''%>" maxlength="30" size="30" name="username" id="username">
						</div>
						<div>
							<label for="email">Email</label>
							<input type="text" tabindex="106" value="<%= flash[:_email] ? flash[:_email] : ''%>" maxlength="40" size="40" name="email" id="email">
						</div>
					</td>
				</tr>
			</table>
		</div>
		<% end %>
		<div class="form-error">
			<% if flash[:errors] %>
			<script>
				$().ready(function() {window.scrollBy(0,100000);});
			</script>
			<p>咦？出错了:</p>
			<ul>
				<% flash[:errors].each do |e| %>
				<li><%= e %></li>
				<% end %>
			</ul>
			<% end %>
		</div>
		<div class="form-submit cbt">
			<% submit_text = "提交答案" %>
			<%= f.submit submit_text, :tabindex=>"120", :style=>"width: 160px"%>
		</div>
		<% end %>
	</div>

</div>