<table>
	<tr>
		<% (1..5).each do |tds| %>
		<td>
			<% (1..7).each do |i| %>
			<% if(u = @users.shift) %>
			<div class="user-info">
				<div class="user-gravatar32">
					<a href="/users/<%=u.id%>">
						<img width="32" height="32" alt="" src="<%=u.avatar_path || '/images/avatar.jpg'%>">
					</a>
				</div>
				<div class="user-details">
					<a href="/users/<%=u.id%>"><%=u.name%></a><br>
					<%=u.questions_count%>, <%=u.answers_count%>, <%=u.tags_count%>
				</div>
			</div>
			<% end %>
			<% end %>
		</td>
		<% end %>
	</tr>
</table>