<div id="mainbar">
	<div class="subheader">
		<h1 id="h-top-questions">热点问题</h1>
	</div>
	<div id="question-mini-list">
		<% @questions.each do |q| %>
		<div class="question-summary narrow" id="question-summary-<%=q.id%>">
			<div onclick="window.location.href='/questions/<%=q.id%>'" class="cp">
				<div class="votes">
					<div class="mini-counts"><%=q.votes_count%></div>
					<div>顶</div>
				</div>
				<div class="status <%= q.has_best_answer? ? 'answered-accepted' : q.answers_count > 0 ? 'answered' : 'unanswered'%>" title="<%= q.has_best_answer? ? '该问题已有最佳答案' : q.answers_count > 0 ? '该问题还没有最佳答案' : '该问题还没有答案'%>">
					<div class="mini-counts"><%=q.answers_count%></div>
					<div>回答</div>
				</div>
				<div class="views">
					<div class="mini-counts"><%=q.views_count%></div>
					<div>查看</div>
				</div>
			</div>
			<div class="summary">
				<h3><a href="/questions/<%=q.id%>" class="question-hyperlink" title="<%=q.content%>"><%=q.title%></a></h3>
				<div class="tags">
					<% q.tags.each do |t| %>
					<a rel="tag" title="查看含有标签 '<%=t['name']%>' 的问题" class="post-tag" href="/questions/tagged/<%=u t['name']%>"><%=t['name']%></a> 
					<% end %>
				</div>
				<div class="started">
					<span class="relativetime" title="<%= s q.created_at%>"><%=time_ago_in_words(q.created_at)%></span>
					<a href="/users/<%=q.user.id%>" ><%=q.user.name%></a>
				</div>
			</div>
		</div>
		<% end %>
	</div>
	<h2 class="bottom-notice">想查看更多问题？你可以浏览<a href="/questions">完整问题列表</a>，或者<a href="/tags">热门标签</a>。回答<a href="/unanswered">待解决问题</a>，赢得<a>徽章</a>。</h2>
</div>

<div id="sidebar">
	<%= render :partial => "share/recent_tags" %>
	<%= render :partial => "share/recent_users" %>
</div>