<%=javascript_include_tag 'jquery.typewatch' %>

<script>
$(function() { 
    $("#tagfilter").focus().typeWatch({ highlight:true, wait:500, captureLength: -1, callback: finished });
});

function finished(keyword) {
	$.get('/tags/search', {keyword: keyword}, function(data){
		$("#tags_list").html(data);
        $(".pager").hide();
	});
}

</script>

<div id="mainbar-full">
	<div class="subheader">
		<h1 id="h-tags">标签</h1>
	</div>
	<div class="page-description">
		<p>标签是问题分类的关键字。通过标签让他人更容易找到并回答你的问题。</p>
		<table>
			<tr>
				<td>查找标签:</td>
				<td style="padding-left: 5px;"><input type="text" name="tagfilter" id="tagfilter"></td>			
			</tr>
		</table>
	</div>
	<div id="tags_list">
		<table>
			<tr>
				<% tags = @tags.clone %>
				<% (1..5).each do |tds| %>
				<td class="tag-col">
					<% (1..13).each do |i| %>
					<% if(t = tags.shift) %>
					<a rel="tag" title="查看含有标签 '<%=t.name%>' 的问题" class="post-tag" href="/questions/tagged/<%=u t.name%>"><%=t.name%></a><span class="item-multiplier">x <%=t.questions_count%></span><br>
					<% end %>
					<% end %>
				</td>
				<% end %>
			</tr>
		</table>
		<div class="pager fr">
			<% current_page = params[:page].to_i <= 1 ? 1 : params[:page].to_i %>
			<% if current_page > 1 %>
			<a rel="prev" href="/tags?page=<%=current_page-1%>" style="text-decoration:none"><span class="page-numbers prev">上一页</span></a>
			<% end %>
			<% if current_page > 1 || @tags.size == 65 %>
			<span class="page-numbers current"><%=current_page%></span>
			<% end %>
			<% if @tags.size == 65 %>
			<a rel="next" href="/tags?page=<%=current_page+1%>" style="text-decoration:none"><span class="page-numbers next">下一页</span></a>
			<% end %>
		</div>
	</div>
</div>