<!DOCTYPE html>
<html>
	<head>
		<title>wenda.it</title>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<link rel="stylesheet" type="text/css" href="/stylesheets/all.css">
		<%=javascript_include_tag 'jquery' %>
		<%= csrf_meta_tag %>
	</head>
<body>

<div id="custom-header"></div>
<div class="container">
	<%= render :partial => "share/header" %>
	<div id="content">
		<%= yield %>
	</div>
</div>
<%= render :partial => "share/footer" %>

</body>
</html>